{% extends "base.html" %}

<link rel="stylesheet"href='app.css'> 

{% block main %}
<head><link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></head>
<div id='space'><br><br></div>
<div id='border'></div>
<div class="all">
    <div class='formed'>
    <img src="{{ url_for('static', filename='uploads/'+user.picture) }}" height="200" width="200"/>
    <br>
            <div id='space'>
                {{user.FirstName+" "+user.LastName}}
                </div>
                <br>
                <i class="material-icons" id="pics">mailoutline</i>
                <div class='info'>{{ user.Email }}</div>
                <br>
                <br>
                <i class="material-icons" id="pics">place</i>
                <div class='info'>{{user.Location}}</div>
                <br>
                <br>
                <i class="material-icons" id="pics">event</i>
                <div class='info'>Joined on {{user.created_on}}</div>
            </div>
            <br>
            <br>
            <div id="bio">
                <h5 class"card-title">About me</h5>
                <p calss="card-text">{{ user.Biography}}</p>
            </div>
<div id='container'
<button class="btn btn-success" id="left">Send messaage</a></div>
<button class="btn btn-primary" id="right">Follow</a></div>
</div>
    </div>
</div>

<div class='card'>
        
</div>
{% endblock %}